

<center><button type="button" class="btn btn-primary btn-lg" id="set">Set your location!</button>
	<div class='col-xs-12' id='getloc'>
		<h2>Getting location...please wait</h2>
	</div>

</center>



<style>
 	#main {
	height: 100vh;
}

 </style>