<div class='row'>
	<div class='col-xs-4'>
		<% if @user %>
		<h3><a href='/<%= @user.username%>'><%=@user.username %></a><h3>
		<%else%>
		<h4>No user matches that user name.</h4>
		<%end%>
	</div>
</div>