/*
 *= require font-awesome
 */

html, body {
  height: 100%;
}

nav li:hover {
    background-color: #3E84E8;
    color: #FFC0CB;
}
.navbar .nav > li > a {
    color:  #FF8D51;
}
/*#avatar {
  background-image: url('jarjar.jpg');
}*/

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

li a {
	color: #FF8D51;
}
#desc {
  margin-top: 20px;
}

#workouts {
  border-bottom: 1px solid black;
}

.btn-success {
  width: 100%;
/*  margin-left: ;*/
}
#read {
  width: 200px;
}

#age {
  border-bottom: 1px solid black;
}
 .aboutme {
  font-size: 150%;
 }

#main {
	   background-color: rgba(255,255,255,0.5);
	   text-align: left;
  	 width: 70%;
  	 height: 100%;
  	 display: block;
  	 /*margin: 0 auto;*/
}


/*#main.container {
  height: 100vh;
}*/

#home {
	color: #030303;
	margin-top: 0px;
  	
}

#set {
	margin-top: 100px;
}
.navbar {
	margin-bottom: 0;
}

.navbar.navbar-default {
	/*background-color: #45C2FF;*/
	/*background-image: url('cloud.jpg');*/
 background: rgb(114,71,170); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(114,71,170,1) 0%, rgba(99,38,97,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(114,71,170,1)), color-stop(100%,rgba(99,38,97,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  rgba(114,71,170,1) 0%,rgba(99,38,97,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  rgba(114,71,170,1) 0%,rgba(99,38,97,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  rgba(114,71,170,1) 0%,rgba(99,38,97,1) 100%); /* IE10+ */
 background: linear-gradient(to bottom,  rgba(114,71,170,1) 0%,rgba(99,38,97,1) 100%); /* W3C */ 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7247aa', endColorstr='#632661',GradientType=0 ); /* IE6-9 */

	border: 0px;
	color: white;
	margin-bottom: 0px;
}

.close {
  width: 100px;
  height: 30px;
  margin-left: 10px;

}

body {
	background-image: url('background.jpg');
	background-size: 100%;
	background-attachment: fixed;
}

#avatar {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


#header {
  margin-left: 10px;
}

#fitgoal {
  font-size: 250%;
}

#level {
  font-size: 150%;
}

/*!
 * Bootstrap Modal
 *
 * Copyright Jordan Schroter
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Boostrap 3 patch for for bootstrap-modal. Include BEFORE bootstrap-modal.css!
 */

/*body.modal-open, 
.modal-open .navbar-fixed-top, 
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}*/

/*.modal {
  left: 50%;
  bottom: auto;
  right: auto;
  padding: 0;
  width: 500px;
  margin-left: -250px;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}*/

/*.modal.container {
  max-width: none;
}*/